h1 svg {
  width: 56px;
  height: 56px;
  margin: 0 10px;
  fill: brown;
}

textarea {
  padding-right: 25px;
}

textarea.form-control {
  min-height: 130px;
}

.form-floating button {
  width: auto;
  background-color: transparent;
  border: none;
}

.form-floating svg {
  fill: darkred;
  transition: fill 0.3s;
}

.form-floating button:hover svg,
.form-floating button:focus {
  fill: #ffffff;
}

.btn {
  width: calc(100% / 2 - 15px / 2);
  margin-right: 15px;
}

.btn:last-child {
  margin-right: 0;
}

.list-text {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 25px;
}

.list-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 1px;
  height: 100%;
  background-color: #cecece;
}

.list-group-item .btn {
  width: auto;
  border: none;
  align-self: flex-start;
}

.list-group-item .btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.list-group-item span:first-child {
  margin-right: 10px;
  font-weight: 600;
}
